* {
  margin: 0px;
  padding: 0px;
  font-family: sans-serif;
}

body {
  margin-top: 0px;
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style-type: none;
}

header {
  border-bottom: 1px solid #333;
  width: 100vw;
  height: 7vh;
  color: #fff;
  background-color: #333;
}

header a {
  display: flex;
  justify-content: flex-start;
  margin: 30px;
  background-color: #333;
}

main {
  width: 100vw;
  height: 93vh;
}

.sidebar {
  flex: 1.5;
  height: 89vh;
  overflow: scroll;
}

.main {
  flex: 3;
  height: 89vh;
  overflow: scroll;
  border-left: 1px solid #333;
}